[Unit]
Description= Serve /etc/announce_board on port 5000

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/bin/bash /bin/serveit
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
